$sidebar-box-shadow : 0 0 0 5px $default-color-100;

$sidebar-background-color: $default-color-200;
$sidebar-logo-padding:25px 0;
$sidebar-logo-color:$default-color;
$sidebar-submenu-color:$default-color;
$sidebar-submenu-link-color:$default-color;
$sidebar-max-width:250px;