$checkbox-colors :( 
default  : $default-color-400,
primary  : $primary-color,
secondary: $secondary-color,
info     : $info-color,
success  : $success-color,
warning  : $warning-color,
danger   : $danger-color
);

$checkbox-natural-colors:$natural-colors;