$table-colors:( 
	default  : $default-color-400,
	primary  : $primary-color,
	secondary: $secondary-color,
	info     : $info-color,
	success  : $success-color,
	warning  : $warning-color,
	danger   : $danger-color,
    grape-light : $grape-light, 
    grape       : $grape, 
    bitter-light: $bitter-light,
    bitter      : $bitter,
    sun-light   : $sun-light,
    sun         : $sun,
    grass-light : $grass-light,
    grass       : $grass,
    mint-light  : $mint-light,
    mint        : $mint,
    aqua-light : $aqua-light,
    aqua       : $aqua,
    jeans-light: $jeans-light,
    jeans      : $jeans,
    pink-light : $pink-light,
    pink       : $pink,
    gray-light : $gray-30,
    gray       : $gray-40,
    dark-light : $gray-50,
    dark       : $gray-60
);