
.c-breadcrumb {
	
	.c-breadcrumb__container{
       
      display:flex;
      border-radius:0 25px 25px 0;
     

		.c-breadcrumb__item {
			display: inline-block;
			text-align:center;
            min-width:50px;
			&:first-child{
				border-radius:5px 0 0 5px;
				overflow:hidden;
			}
			&:last-child{
				border-radius:0 50px 50px 0;
				overflow:hidden;
			}
		    .c-breadcrumb__link{
		    	display: block;
    			line-height: 30px;
    			//background: $default-color-400;
    			
   			    font-size: 12px;
   			    color: $default-color;

			    	&:hover {
					color: #6581ab;
					//background:white;
					
					
				 }
		    }
			

			// divider
			&:not(:last-child) {
				
				border-right: solid 1px transparent;
				
			}

			
		}
	}
}
.arrow {
  background: #2db34a;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  position: relative;
  margin:0 15px;
  text-decoration: none;
}
.arrow:before,
.arrow:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}
.arrow:before {
  border-bottom: 15px solid #2db34a;
  border-left: 15px solid transparent;
  border-top: 15px solid #2db34a;
  left: -15px;
}
.arrow:after {
  border-bottom: 15px solid transparent;
  border-left: 15px solid #2db34a;
  border-top: 15px solid transparent;
  right: -15px;
}
.arrow:hover {
  background: #ff7b29;
  color:white !important;
}
.arrow:hover:before {
  border-bottom: 15px solid #ff7b29;
  border-top: 15px solid #ff7b29;
}
.arrow:hover:after {
  border-left: 15px solid #ff7b29;
}
