html,
body {
  min-height: 100vh; /* 100% of viewport height */
  width: 100vw; /* 100% of viewport width */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Optional: prevents scrolling */
}
