
button,
input,
select,
textarea {
	font-family: $base-font-family;
}
 // 1. Remove the gray background on active links in IE 10.
 // 2. Remove gaps in links underline in iOS 8+ and Safari 8+.


a{
	background-color: transparent; /* [1] */
	text-decoration:none;
	text-decoration-skip: objects; /* [2] */
}